
header {
    text-align: center;
}

h1 {
    font-size: 70px;
    display: inline;
    margin: 0 200px;
}

img.profilePic {    
    width: 150px;
    height: 150px;
    margin-top: 40px;
    border: 7px solid white;
    border-radius: 20px;
} 

img.integrifyLogo {
    width: 100px;
    height: 100px;
}

a {          
    color: white;
    font-size:18px;
    margin: 0px 30px 0px 30px;
}

nav.top {
    padding: 10px;
    background: rgba(0,0,0,0.5); 
}

section{
    max-width: 700px;
    margin: 40px auto;
    border: 2px solid;
}

footer{
    text-align: center;
    background: gray;
    padding: 40px;
}

.skills {
    color: red;
    font-size: 20px;
}

#hobbies {
    margin: 30px auto;
    border:  1px solid;
    width: 600px;
    font-size: 20px;
}

a.resources {
    color:red;
    font-size: 20px;
}